/* 
font-family: 'Fredoka One', cursive;
*/

body {
  margin: calc(5vh - 10px) auto;
  padding: 0;
  font-family: sans-serif;
  width: calc(90vh + 18px);
}
.banner {
  margin: calc(5vh - 10px) auto;
  padding: 0;
  justify-content: center;
  width: calc(90vh + 18px);
}
.title {
  display: block;
  margin: auto;
  width: 300px;
  align-items: center;
  background-color: #00e1ff;
  display: block;
  text-align: center;
  font-family: "Fredoka One", cursive;
}

.board {
  display: flex; /* establish flex container */
  flex-wrap: wrap; /* enable flex items to wrap */
  margin: auto;
  justify-content: center;
}

.square {
  border: 1px solid #333;
  display: flex;
}

/* .square.black {
  background-color: #777;
} */

.square .circle {
  border-radius: 50%;
  margin: auto;
  height: 80%;
  width: 80%;
}

.circle.user {
  justify-content: center;
  align-items: center;
  background: url(../images/goodguycritter.svg);
  background-repeat: no-repeat;
  background-position: center;

  /* background-size: 8em; */
  background-color: #00e1ff;
}

.circle.enemy {
  justify-content: center;
  align-items: center;
  background: url(../images/critter_template.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  /* background-size: 6vw; */
  background-color: #ff198e;
}

/*Direction transforming */
.north {
  transform: rotate(0deg);
}

.east {
  transform: rotate(90deg);
}
.south {
  transform: rotate(180deg);
}
.west {
  transform: rotate(270deg);
}

.ConBtn {
  opacity: 0.9;
  color: #1a1a1a;
  background: #ff198e;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  display: block;
  padding: 7px 0;
  margin: 10px auto;
}
.ConBtn:hover:enabled {
  opacity: 1;
  background: #ff198e;
  text-decoration: none;
}
.ConBtn:active {
  transform: translateY(1px);
}

/* Toggle Play Mode Slider */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
