body {
  margin: calc(5vh - 10px) auto;
  padding: 0;
  font-family: sans-serif;
  width: calc(90vh + 18px);
}

.board {
  display: flex; /* establish flex container */
  flex-wrap: wrap; /* enable flex items to wrap */
}

.square {
  border: 1px solid #333;
  display: flex;
}

.square.black {
  background-color: #777;
}

.square .circle {
  border-radius: 50%;
  margin: 10%;
  height: 80%;
  width: 80%;
}

.circle.user {
  justify-content: center;
  align-items: center;
  background: url(../images/lizBlack.svg);
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: 8em; */
  background-color: #00e1ff;
}

.circle.enemy {
  justify-content: center;
  align-items: center;
  background: url(../images/critter.svg);
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: 6vw; */
  background-color: #ff198e;
}

.circle.player.active {
  box-shadow: inset 0 0 10px cornflowerblue;
}

.circle.enemy.active {
  box-shadow: inset 0 0 10px palegreen;
}

/*Direction transforming */
.north {
  transform: rotate(0deg);
}

.east {
  transform: rotate(90deg);
}
.south {
  transform: rotate(180deg);
}
.west {
  transform: rotate(270deg);
}
